<a href="https://colab.research.google.com/github/IagoConrado/colab-notebooks/blob/master/Redes_Neurais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Previsão de insuficiência cardíaca**


*   Link do dataset: [Heart Failure Prediction](https://www.kaggle.com/andrewmvd/heart-failure-clinical-data).
*   Os dados do dataset descrevem características dos pacientes e se eles faleceram durante o acompanhamento.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## **Imports**

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import (
    accuracy_score, 
    precision_score, 
    recall_score, 
    f1_score, 
    roc_curve, 
)

## **Leitura dos dados**

In [4]:
dados = pd.read_csv('/content/drive/My Drive/Colab Notebooks/datasets/heart_failure.csv')
dados.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

## **Limpeza e organização dos dados**

In [5]:
#verificar se existem valores NAN, ? ou dados faltantes
dados = dados.dropna()

In [6]:
#excluir a coluna 'time' já que só é possível ter a informação dela apos receber informações na coluna 'DEATH_EVENT'
dados = dados.drop(columns=['time'])
dados.head()

    age  anaemia  creatinine_phosphokinase  ...  sex  smoking  DEATH_EVENT
0  75.0        0                       582  ...    1        0            1
1  55.0        0                      7861  ...    1        0            1
2  65.0        0                       146  ...    1        1            1
3  50.0        1                       111  ...    1        0            1
4  65.0        1                       160  ...    0        0            1

[5 rows x 12 columns]

In [7]:
#re-escala dos dados usando maximo e minimo
dados = (dados - dados.min())/(dados.max()-dados.min())

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    float64
 2   creatinine_phosphokinase  299 non-null    float64
 3   diabetes                  299 non-null    float64
 4   ejection_fraction         299 non-null    float64
 5   high_blood_pressure       299 non-null    float64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    float64
 9   sex                       299 non-null    float64
 10  smoking                   299 non-null    float64
 11  DEATH_EVENT               299 non-null    float64
dtypes: float64(12)
memory usage: 30.4 KB

## **Organizando dados para modelagem**

In [9]:
x = dados.iloc[:,:-1]
x.head()

        age  anaemia  creatinine_phosphokinase  ...  serum_sodium  sex  smoking
0  0.636364      0.0                  0.071319  ...      0.485714  1.0      0.0
1  0.272727      0.0                  1.000000  ...      0.657143  1.0      0.0
2  0.454545      0.0                  0.015693  ...      0.457143  1.0      1.0
3  0.181818      1.0                  0.011227  ...      0.685714  1.0      0.0
4  0.454545      1.0                  0.017479  ...      0.085714  0.0      0.0

[5 rows x 11 columns]

In [10]:
y = dados.DEATH_EVENT
y.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: DEATH_EVENT, dtype: float64

**Dividir os dados em treino e teste**

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)
x_train.head()

          age  anaemia  creatinine_phosphokinase  ...  serum_sodium  sex  smoking
265  0.181818      1.0                  0.035085  ...      0.771429  1.0      1.0
129  0.236364      1.0                  0.031513  ...      0.914286  1.0      0.0
161  0.090909      1.0                  0.013651  ...      0.742857  1.0      1.0
88   0.072727      0.0                  0.007783  ...      0.742857  1.0      0.0
158  0.818182      1.0                  0.113167  ...      0.600000  1.0      0.0

[5 rows x 11 columns]

In [12]:
y_train.head()

265    0.0
129    0.0
161    0.0
88     0.0
158    0.0
Name: DEATH_EVENT, dtype: float64